.card-service {
  background-color: #1b1b1b;
}

.card-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(#b84480, #faa819);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* Adicionando a versão padrão */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude; /* Versão padrão */
  -webkit-mask-composite: destination-out;
  z-index: -1;
}
