
.title-home {
  font-family: "Graphik", sans-serif;
  max-width: 800px;
  text-align: center;
}

.title-home span {
  color: hsl(var(--secondary));
}

.text-home {
  font-family: "Graphik-light", sans-serif;
  font-size: 1.2rem;
}

@keyframes slide2 {
  from {
      transform: translateX(0);
  }

  to{
      transform: translateX(100%);
  }
}
