@import "tailwindcss";

/*FONTS*/

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Gurajada";
  src: url("./assets/fonts/Gurajada-Regular.ttf");
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Regular.otf");
}

@font-face {
  font-family: "Graphik-light";
  src: url("./assets/fonts/Graphik-Light-Trial.otf");
}

/*fonts-class*/

.font-gurajada {
  font-family: "Gurajada", sans-serif;
}

.font-graphik { 
  font-family: "Graphik", sans-serif;
}

.font-graphik-light {
  font-family: "Graphik-light", sans-serif;
}
 
.font-poppins {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1B1B1B;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.shadow-bg {
  width: 900px;
  height: 900px;
  z-index: -1;
  background: radial-gradient(circle, #b8448018 0%, #b8448000 70%);
  border-radius: 50%;
  filter: blur(50%);
  position: absolute;
  overflow: hidden !important;

  /* 🔹 Centraliza no meio da tela */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow-left {
  width: 950px;
  height: 950px;
  z-index: -1;
  background: radial-gradient(circle, #b8448018 0%, #b8448000 70%);
  border-radius: 50%;
  filter: blur(50%);
  position: absolute;
  top: -100px;
  overflow: hidden !important;
}



.max-width-container {
  max-width: 1216px;
}

/*header*/

.header {
  background-color: #1b1b1b56;
}

/*Buttons*/

.button-primary {
  background-color: transparent;
  border: 1px solid #FAA819;
  transition: all 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #FAA819;
}

.button-secondary {
  background-color: #FAA819;
  border: 1px solid #FAA819;
  transition: all 0.2s ease-in-out;
}

/*carrousel-home*/

.separator-logo {
  background: linear-gradient(to right, #B84480, #DF93BA);
  width: 100%;
  box-shadow: 0px 5px 22px #000000ad;
  right: 0;
  left: 0;
  opacity: 1;
  -ms-transform: skewY(4deg); /* IE 9*/
  -webkit-transform: skewY(4deg); /*safari*/
  transform: skewY(4deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  gap: 50px;
}

.conjunto-palavras {
  display: flex;
  flex-direction: row;
  gap: 50px;
  animation: 15s slide2 infinite linear;
}

.palavra span {
  color: white;
  font-size: 24px;
  font-weight: 300;
}


