@import "tailwindcss";

/*FONTS*/

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Gurajada";
  src: url("./assets/fonts/Gurajada-Regular.ttf");
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Regular.otf");
}

body {
  background-color: #1B1B1B;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.max-width-container {
  max-width: 1216px;
}

/*header*/

.header {
  background-color: #1b1b1b7a;
}

/*Home*/


