@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
  height: 6px; /* Altura da barra de rolagem horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Barra de rolagem (o "botão" que desliza) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Efeito ao passar o mouse na barra de rolagem */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*FONTS*/

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Gurajada";
  src: url("./assets/fonts/Gurajada-Regular.ttf");
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Regular.otf");
}

@font-face {
  font-family: "Graphik-light";
  src: url("./assets/fonts/Graphik-Light-Trial.otf");
}

@font-face {
  font-family: "Porao";
  src: url("./assets/fonts/Porao-Inline.otf");
}

@font-face {
  font-family: "Porao-serif";
  src: url("./assets/fonts/Porao-Serif.otf");
}
/*fonts-class*/

.font-gurajada {
  font-family: "Gurajada", sans-serif;
}

.font-graphik {
  font-family: "Graphik", sans-serif;
}

.font-graphik-light {
  font-family: "Graphik-light", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-porao {
  font-family: "Porao", sans-serif;
}

.font-porao-serif {
  font-family: "Porao-serif", sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #1b1b1b;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.shadow-bg {
  width: 900px;
  height: 900px;
  z-index: -1;
  background: radial-gradient(circle, #b8448018 0%, #b8448000 70%);
  border-radius: 50%;
  filter: blur(50%);
  position: absolute;
  overflow: hidden !important;
  /* 🔹 Centraliza no meio da tela */
  left: 50%;
  transform: translateX(-50%);
}

.shadow-left {
  width: 950px;
  height: 950px;
  z-index: -1;
  background: radial-gradient(circle, #b8448018 0%, #b8448000 70%);
  border-radius: 50%;
  filter: blur(50%);
  position: absolute;
  left: 0;
  overflow: hidden !important;
}

.shadow-right {
  width: 850px;
  height: 850px;
  z-index: -1;
  background: radial-gradient(circle, #b8448018 0%, #b8448000 70%);
  border-radius: 50%;
  filter: blur(50%);
  position: absolute;
  right: 0;
  overflow: hidden !important;
}
/*header*/

/*
  .header {
  background: linear-gradient(to bottom, #1b1b1b, #1b1b1bd0 );
}
*/

.color-header {
  background-color: #1b1b1b;
}

/*Buttons*/

.button-primary {
  background-color: transparent;
  border: 1px solid #faa819;
  transition: all 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #faa819;
}

.button-secondary {
  background-color: #faa819;
  border: 1px solid #faa819;
  transition: all 0.2s ease-in-out;
}

/*carrousel-home*/

.separator-logo {
  background: linear-gradient(to right, #b84480, #df93ba);
  width: 100%;
  box-shadow: 0px 5px 22px #000000ad;
  right: 0;
  left: 0;
  opacity: 1;
  -ms-transform: skewY(4deg); /* IE 9*/
  -webkit-transform: skewY(4deg); /*safari*/
  transform: skewY(4deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  gap: 50px;
}

.conjunto-palavras {
  display: flex;
  flex-direction: row;
  gap: 50px;
  animation: 15s slide2 infinite linear;
}

.palavra span {
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.background {
  background-color: #1b1b1b;
}



@layer base {
  :root {
    --background: NaN, 0%, 11%; /*#1C1C1C*/
    --foreground: 224 71.4% 4.1%;
    --card: NaN, 0%, 11%; /*#1C1C1C*/
    --card-foreground: NaN, 0%, 11%; /*#1C1C1C*/
    --popover: NaN, 0%, 11%; /*#1C1C1C*/
    --popover-foreground: NaN, 0%, 11%; /*#1C1C1C*/
    --primary: 38.133, 96%, 54%; /*#FAA819*/
    --primary-foreground: 210 20% 98%;
    --secondary: 329, 46%, 49%; /*#B84480*/
    --secondary-shadow: 329, 46%, 49%, 0.1;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 4, 98%, 46%; /*#E81102*/
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
